<!DOCTYPE html>
<html>
<head>
    <title>All Meetings</title>
</head>
<body>
    <h1>All Meetings</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Meeting Link</th>
                <th>Date</th>
                <th>Time</th>
                <th>Employee</th>
            </tr>
        </thead>
        <tbody>
            {% for meeting in meetings %}
            <tr>
                <td>{{ meeting.title }}</td>
                <td>{{ meeting.description }}</td>
                <td><a href="{{ meeting.meeting_link }}" target="_blank">Join Link</a></td>
                <td>{{ meeting.date }}</td>
                <td>{{ meeting.time }}</td>
                <td>{{ meeting.employee.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'trainerapp:schedule_meeting' %}">Schedule New Meeting</a>
</body>
</html>
